<!DOCTYPE html>
<html lang="en">
<head>
  <title>Apollo Hospitals</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<div class="App">
    <%- include('navbar') %>
    <div class="m-2">
      <div class="d-flex">
        <p class="col-10 col-md-8 col-lg-6 p-3">
          
          A hospital is a medical facility that provides a wide range of services to diagnose, treat, and care for patients who are suffering from 
          illnesses or injuries. Hospitals typically have various sections or departments that are designed to cater to the diverse needs of patients.
          Overall, hospitals are complex facilities with multiple sections that work together to provide comprehensive medical care to patients. 
          Each section is staffed with specialized professionals who are dedicated to providing the best possible care to patients.
          Here are some of the common sections found in a hospital:
        </p>
        <img src="https://thumbs.dreamstime.com/b/hospital-building-modern-parking-lot-59693686.jpg" style="width:500px; height: 500;">
      </div>
      <ol>
        <li>
          Emergency Department (ED): The ED is responsible for providing immediate care to patients who have suffered from acute injuries or illnesses. It is staffed with physicians, nurses, and support staff who are trained to handle emergencies.
        </li>
        <li>
          Inpatient Units: Inpatient units are designed to provide specialized care to patients who require an extended stay in the hospital. These units typically include medical, surgical, and critical care units, among others.
        </li>
        <li>
          Outpatient Clinics: Outpatient clinics provide medical services to patients who do not require hospitalization. They include diagnostic imaging, laboratory services, and rehabilitation facilities.
        </li>
        <li>
          Operating Rooms (OR): The OR is where surgical procedures are performed. It is staffed with specialized medical professionals, including surgeons, anesthesiologists, and operating room nurses.
        </li>
        <li>
          Intensive Care Unit (ICU): The ICU is a specialized unit that provides critical care to patients who require close monitoring and life support.
        </li>
        <li>
          Maternity Ward: The maternity ward is designed to provide care to women who are giving birth. It is staffed with obstetricians, nurses, and support staff who are trained in maternal and neonatal care.
        </li>
        <li>
          Pediatric Ward: The pediatric ward is designed to provide care to children who require medical attention. It is staffed with pediatricians, nurses, and support staff who are trained in pediatric care.
        </li>
      </ol>
    </div>
    

    

    <hr class="ms-3 me-3">

    <%- include('footer') %>

  </body>
  </html>