<!DOCTYPE html>
<html lang="en">
<head>
  <title>Apollo Hospitals</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <style>
    .mySlides {display: none;}
    
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .text {font-size: 11px}
    }
    </style>
</head>
<body>
<div class="App">
    <%- include('navbar') %>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="https://cdn.givingcompass.org/wp-content/uploads/2020/04/28112207/How-The-World%E2%80%99s-Scientists-Doctors-and-Nurses-Coming-Together-in-Times-of-Crisis.jpg" class="img-fluid" style="width:1500px;height: 500;" alt="..."/>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="https://www.facilitiesnet.com/resources/editorial/2019/18449-Hospital.jpg" class="img-fluid w-100" alt="..."/>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="https://gemjournaltoday.com/wp-content/uploads/2020/09/Doctor-Hospitality.jpg" alt="..."/>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <div class="d-flex justify-content-around pt-4 pb-2">
      <div class="card" style="width:400px">
        <img src="https://www.elotouch.com/media/wysiwyg/Press/Elo_Blog_Smart_Hospital_500x336.png" class="card-img-top embed-responsive-item" alt="..."/>
        <div class="card-body">
          <h5 class="card-title">Register as a Patient</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/api/v1/patregister" class="btn btn-outline-success">Register</a>
        </div>
      </div>

      <div class="card" style="width:400px">
        <img src="https://img.freepik.com/free-photo/team-young-specialist-doctors-standing-corridor-hospital_1303-21199.jpg?w=996&t=st=1676459137~exp=1676459737~hmac=66f496d9e9bb0faa798f0a4b863b903afbbcb77580c3fcc0178e78a09f1fed2e" class="card-img-top embed-responsive-item" alt="..."/>
        <div class="card-body">
          <h5 class="card-title">Register as a Doctor</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/api/v1/docregister" class="btn btn-outline-success">Register</a>
        </div>
      </div>

      <div class="card" style="width:400px">
        <img src="https://imageio.forbes.com/specials-images/imageserve/619ea056b05de2285c025b70/Any-updates-on-this-patient-/960x0.jpg?format=jpg&width=960" class="card-img-top embed-responsive-item" alt="..."/>
        <div class="card-body">
          <h5 class="card-title">See doctors</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/api/v1/viewdocs" class="btn btn-outline-success">Select</a>
        </div>
      </div>
    </div>
    <hr class="ms-3 me-3">

    <%- include('footer') %>
</div>

</body>
</html>